<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<!-- Navbar come here -->
<nav th:fragment="shownav" class="navbar navbar-expand-md navbar-default">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Eventbryte</a>
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasAuthority('SOULYANA')">
                <a class="nav-link" th:href="@{/addevent}">Add an Event</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/viewevents}">Show Event Details</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/showprivateevents}">Private Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <!--Log in/log out link using authorization expressions-->
                <a class="nav-link pull-right" th:href="${#authorization.expression('isAuthenticated()')}?@{/logout}:@{/login}" th:text="${#authorization.expression('isAuthenticated()')}?'Log out':'Log in'">Logging</a>
            </li>
        </ul>
    </div>
</nav>
<!-- end navbar  -->

</body>
</html>